<div class="account-update-container">  
  <form 
    [formGroup]="updateForm"
    (ngSubmit)="save()"
  >
    <mat-form-field 
      appearance="outline"
      floatLabel="always"
      hideRequiredMarker
    >
      <mat-label>Actualizar cuenta</mat-label>
      <input
        matInput 
        class="example-right-align"
        formControlName="money"
        type="number"
      >
      <span matPrefix>$&nbsp;</span>
    </mat-form-field>    
    <button mat-raised-button color="primary">
      {{ updateBtnText }}
    </button>
  </form>
  <app-footer-message 
    message="{{ userMessage.text }}"
    type="{{ userMessage.type }}"
    (closedMsg)="closedMessage()"
  ></app-footer-message>
</div>
