footer {
  position: fixed;
  width: 100vw;
  text-align: center;
  transition: all 0.4s ease;
  bottom: 10px;
  div {
    margin: 0 auto;
    max-width: 400px;    
    padding: 10px;
    border-radius: 3px;
    display: grid;
    grid-template-columns: auto 40px;  
    p {
      color: #ffffff;
      margin: 0;
    }
    .closeBtn {
      cursor: pointer;
    }
  }  
}

.hiden {
  opacity: 0%;
  bottom: -10px;
}
.shown {
  opacity: 1 !important;
  bottom: 10px;
}