header {
  display: grid;
  grid-template-columns: auto 60px;
  position: fixed;  
  top: 0;
  width: 100vw;
  strong {
    padding: 8px;
    -webkit-app-region: drag;
    img {
      width: 20px;
      cursor: pointer;
    }
  }

  nav {
    padding: 8px;
    justify-self: right;

    ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
      min-width: 60px;
      li {
        float: left;
        margin-left: 8px;

        img {
          width: 12px;
          cursor: pointer;
        }
        img#min {
          padding: 10px;
        }
      }
    }
  }
  #top-menu {
    position: absolute;
    width: 100vw;
    top: 38px;
    ul {
      list-style-type: none;
      margin: 0;
      padding: 0;      
      overflow: hidden;
      li {
        padding: 2px 4px;        
        display: inline-block;
        zoom: 1;
        a {
          all: initial;
          cursor: pointer;
          color: #ababab;
        }
        a:hover {
          color: #ffffff;
        }
        .active {
          color: #ffffff;
        }
      }
    }
  }
}
#relleno {
  height: 60px;
}